# ICE 1: Database Manipulation with MongoDB
### Nikita Tejwani
### HUDK 4051: Learning Analytics

Reference:

https://www.w3schools.com/python/python_mongodb_getstarted.asp

In [1]:
#Import necessary packagee
import pymongo as pm
import pandas as pd
import numpy as np

In [2]:
#Create the client and the database
myclient = pm.MongoClient('mongodb://localhost:27017/')
db = myclient['mydatabase']
col = db['customers']

#The database name should be within the myclient list, but this won't happen until info is entered
print(myclient.list_database_names())

#Insert a record into the database
mydict = {'firstname':'Nikita', 'lastname':'Tejwani'}

x = col.insert_one(mydict)

#Default id is set if one is not manually defined
print(x.inserted_id)

#Insert multiple records into the database
#Set id within the dictionary
mylist = [{'_id':1, 'firstname':'Jane', 'lastname':'Doe'},
          {'_id':2, 'firstname':'Smucker', 'lastname':'PeanutButter'}]

x = col.insert_many(mylist)

print(x.inserted_ids)

['admin', 'config', 'local']
61fbfa36e82002b769e5e413
[1, 2]

In [3]:
#find elements
print('All elements:')
for x in col.find():
    print(x)
    
#return only some fields of each element
print('\n\nAll elements, no last name:')
for x in col.find({}, {'lastname':0}):
    print(x)
    
#return only elements with a specific value in one field
print('\n\nAll elements with firstname Nikita')
for x in col.find({'firstname':'Nikita'}):
    print(x)

All elements:
{'_id': ObjectId('61fbfa36e82002b769e5e413'), 'firstname': 'Nikita', 'lastname': 'Tejwani'}
{'_id': 1, 'firstname': 'Jane', 'lastname': 'Doe'}
{'_id': 2, 'firstname': 'Smucker', 'lastname': 'PeanutButter'}


All elements, no last name:
{'_id': ObjectId('61fbfa36e82002b769e5e413'), 'firstname': 'Nikita'}
{'_id': 1, 'firstname': 'Jane'}
{'_id': 2, 'firstname': 'Smucker'}


All elements with firstname Nikita
{'_id': ObjectId('61fbfa36e82002b769e5e413'), 'firstname': 'Nikita', 'lastname': 'Tejwani'}

In [4]:
#sort elements by name
print('All elements in ascending order')
db = col.find().sort('firstname')
for x in db:
    print(x)
    
#To sort elements in descending order
print('\n\nAll elements in descending order')
db = col.find().sort('firstname', -1)
for x in db:
    print(x)

All elements in ascending order
{'_id': 1, 'firstname': 'Jane', 'lastname': 'Doe'}
{'_id': ObjectId('61fbfa36e82002b769e5e413'), 'firstname': 'Nikita', 'lastname': 'Tejwani'}
{'_id': 2, 'firstname': 'Smucker', 'lastname': 'PeanutButter'}


All elements in descending order
{'_id': 2, 'firstname': 'Smucker', 'lastname': 'PeanutButter'}
{'_id': ObjectId('61fbfa36e82002b769e5e413'), 'firstname': 'Nikita', 'lastname': 'Tejwani'}
{'_id': 1, 'firstname': 'Jane', 'lastname': 'Doe'}

In [5]:
#Update one field in an element
col.update_one({'lastname':'PeanutButter'}, {"$set":{'lastname':'Tejwani'}})
for x in col.find():
    print(x)

{'_id': ObjectId('61fbfa36e82002b769e5e413'), 'firstname': 'Nikita', 'lastname': 'Tejwani'}
{'_id': 1, 'firstname': 'Jane', 'lastname': 'Doe'}
{'_id': 2, 'firstname': 'Smucker', 'lastname': 'Tejwani'}

In [6]:
#delete one entry
col.delete_one({'firstname':'Nikita'})

#delete all entries matching some criteria
col.delete_many({'firstname':'Nikita'})

#delete all entries
col.delete_many({})
db = col.find()

#delete the entire collection
col.drop()